<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>801398688725-i8ca470hb6b2jqbeurrnoo9dugd2glh8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.801398688725-i8ca470hb6b2jqbeurrnoo9dugd2glh8</string>
	<key>API_KEY</key>
	<string>AIzaSyDgCLBqnQGQrN_NfGbZXTM-0_BU6btw5X8</string>
	<key>GCM_SENDER_ID</key>
	<string>801398688725</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.week3</string>
	<key>PROJECT_ID</key>
	<string>firestore-ios-codelab-25210</string>
	<key>STORAGE_BUCKET</key>
	<string>firestore-ios-codelab-25210.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:801398688725:ios:0356452ad2c42d6ead0b5c</string>
	<key>DATABASE_URL</key>
	<string>https://firestore-ios-codelab-25210-default-rtdb.firebaseio.com</string>
</dict>
</plist>